.idea/
.vscode/
data_temp/

log/
log_all/
log_probe/
log_probe_embedding/
log_probe_random/
log_probe_test/
log_qe/
logs/
mello_log/

save/
save_all/
save_discriminator_enzh/
save_finetune_enzh/
save_generate_dev/
save_generator_cuiqdata/
save_probe/
save_probe_embedding/
save_probe_random/
save_qe/

*.jpg
*.png
*.json

__pycache__/
*.py[cod]